@import "tailwindcss";

@font-face {
    font-family: "Comic Neue Custom";
    src: url("/fonts/comic-neue/ComicNeue-Regular.woff2") format("woff2"),
    url("/fonts/comic-neue/ComicNeue-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Neue Custom";
    src: url("/fonts/comic-neue/ComicNeue-Bold.woff2") format("woff2"),
    url("/fonts/comic-neue/ComicNeue-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Custom";
    src: url("/fonts/comic-sans/ComicSans.woff2") format("woff2"),
    url("/fonts/comic-sans/ComicSans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Comic Sans Custom";
    src: url("/fonts/comic-sans/ComicSansBold.woff2") format("woff2"),
    url("/fonts/comic-sans/ComicSansBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
    font-family: "Comic Sans Custom", "Comic Neue Custom", sans-serif;
}

a.footer:active, a.footer:hover {
    text-shadow: 1px 0 0 black;
}

a.nav-menu:active, a.nav-menu:hover {
    text-shadow: 1px 0 0 black;
}

.homemade-button:hover {
    cursor: pointer;
    text-shadow: 1px 0 0 black;
}